Source: node-encoding
Section: unknown
Priority: extra
Maintainer: Jakub Stachowski <jakub.stachowski@digisign.pl>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/node-encoding.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/node-encoding.git;a=summary

Package: node-encoding
Architecture: all
Depends: ${misc:Depends}, ffmpeg (>= 5:0.6.1), python, openssh-server, python-daemon
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
